<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>实现列表动画</title>
	<link rel="stylesheet" href="">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<style>
	li{
		border:1px dashed red;
		margin:8px;
		line-height:35px;
		padding-left:5px;
		font-size:12px;
		width:100%;
	}
	li:hover{
		background-color: blue;
		transition:all 5s ease;
	}

	.v-enter,
	.v-leave-to {
		opacity: 0;
		transform: translateY(80px)
	}

	.v-enter-active,
	.v-leave-active {
		transition: all 5s ease;
	}

	/*删除动画的定义 v-move v-leave-active能够实现列表的后续的元素，渐渐的飘上来的效果*/
	.v-move{
		transition:all 2s ease;
	}
	.v-leave-active{
		position:absolute;
	}
</style>
<body>
	<div id="app">
		<div>
			<!-- 在实现列表元素动画的时候，使用v-for进行渲染的元素时，不能使用transition，要使用transitionGroup -->
			<label for="">
				ID:
				<input type="text" v-model="id">
			</label>
			<label for="">
				Name:
				<input type="text" v-model="name">
			</label>
			<label for="">
				<input type="button" value="添加" @click="add">
			</label>
		</div>
		<!-- <ul> -->
			<!-- 如果使用v-for循环创建的元素设置动画，则需要为每一个元素设置key属性 -->
			<!-- 添加appear属性实现动画入场的效果 -->
			<!-- 在ul外默认会有一个span标签,在transition-group添加 tag属性，渲染一个ul标签 ，不适用tag标签时则默认为span标签-->
			<transition-group appear tag="ul">
			<li v-for="(item, i) in list" :key="item.id" @click="del(i)" >
				{{item.id}}----{{item.name}}---{{i}}
			</li>
		</transition-group>
		<!-- </ul> -->
	</div>
</body>
<script>
	var vm = new Vue({
		el:"#app",
		data:{
			id:'',
			name:'',
			list:[
            {id:1,name:'sss'},
            {id:2,name:'dddd'},
            {id:3,name:'wwww'},
			]
		},
		methods:{
			add() {
				this.list.push({id:this.id,name:this.name})
			},
			del(i){
				//使用数组的删除方法
				this.list.splice(i, 1);
			}
		}
	})
	
</script>
</html>