<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>v-for</title>
	<link rel="stylesheet" href="">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<div id="app">
		<!-- <p v-for="(user,i) in list">{{i}}---{{user.id}}----{{user.name}}</p> -->
		<!-- v-for遍历数组，对象数组，对象属性。数值在前，索引值在后，除了val与key外，还有一个索引值
		<p v-for="(val,key,i) in user">值是:{{val}}-----key：{{key}}----{{i}}</p> -->
		<!-- in后面也可以放数字,当在组件中使用时，key属性必要的
		<p v-for="count in 10">这是{{count}}循环</p> -->
		<!-- <label> Id:<input type="text" v-model="id"></label>
		<label> name:<input type="text" v-model="name"></label>
		<input type="button" value="添加" @click="add">
        使用key指定选定的值,v-for循环的时候key属性只能是number或者string，在使用的时候需要使用v-bind绑定熟悉,使用v-for有问题则需要指定唯一的number与string类型
        <p v-for="item in list" :key="item.id">
        	<input type="checkbox">

        {{item.id}}---{{item.name}}</p>

	 </div> -->
	 <!-- v-if与v-show的使用 -->
	 <!-- v-if每次都会重新删除或者创建元素，v-show每次不会进行DOM操作，只切换了display：none属性。
	 v-if有较高的切换性能的消耗，v-show有较高的渲染性能消耗，如果切换元素的频繁则不建议使用v-if 如果元素被创建出来永远不会显示则使用v-if-->

	 <input type="button" value="toggle" @click="flag = !flag">
	 <p v-if="flag">使用v-if控制的元素</p>
	 <p v-show="flag">使用v-for控制的元素</p>
	</div>
	
</body>
<script>
	// var vm = new Vue({
	// 	el:"#app",
	// 	data:{
	// 		list:[
	// 		{id:1,name:'hello'},
	// 		{id:2,name:'world'},
	// 		{id:3,name:'xxx'}

	// 		]
	// 	},
	// 	methods:{

	// 	}
	// })
	// var vm = new Vue({
	// 	el:'#app',
	// 	data:{
	// 		user:{
	// 			id:1,
	// 			name:'tony',
	// 			age:18,

	// 		}
	// 	},
	// 	methods:{}
	// })
	// var vm = new Vue({
	// 	el:'#app',
	// 	data:{
	// 		id:"",
	// 		name:"",
	// 		list:[
	// 		{id:1,name:'sss'},
	// 		{id:2,name:'aaa'},
	// 		{id:3,name:'ddd'},
	// 		{id:4,name:'sssddd'}

	// 		]
	// 	},
	// 	methods:{
	// 		add(){
	// 			//要用数组的形式添加


 //                 this.list.unshift({id:this.id, name:this.name})
	// 		}
	// 	}
	// })
	var vm = new Vue({
		el:"#app",
		data:{
			flag:true,
		},
		methods:{
              toggle(){
              	this.flag= !this.flag; 
              }
		}

	})
</script>
</html>